.header-container {
    width: 100%;
    margin: 0;
}

.menubar {
    z-index: 10;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-actions .user-info {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header-actions {
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 5px;
    }

    .header-actions .user-info {
        display: none; /* Ocultar nombre de usuario en pantallas pequeñas */
    }

    .header-actions button {
        font-size: 0.9rem;
    }
}

